@import '../../scss/helpers';

.form {
  position: relative;
  width: 100%;

  &__fields {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__input {
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: $text;
    margin-right: 1rem;
    padding: 1.16666rem 1rem;
    border: solid 1px $orange-1;
    border-radius: $border-radius;
  }

  &__button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    background: $gradient-btn;
    padding: 1.16666rem 1rem;
    border: none;
    border-radius: $border-radius;
  }

  &__error {
    position: absolute;
    display: block;
    font-size: .9rem;
    color: $error;
    top: -1.6rem;
  }
}

/* RESPONSIVE */
@include media-breakpoint(sm) {
  .form {
    max-width: 298px;
  }
}