@import '../../scss/helpers';

.digits {
  &__digit {
    width: auto;
    height: 100px;
  
    path {
      fill: $gray-3;
    }

    &:not(:first-of-type) {
      margin-left: .8rem;
    }
  
    &.zero {
      .digit__top,
      .digit__topLeft,
      .digit__topRight,
      .digit__bottomLeft,
      .digit__bottomRight,
      .digit__bottom {
        fill: $digit;

        .success & {
          fill: $success;
        }

        .error & {
          fill: $error;
        }
      }
    }
  
    &.one {
      .digit__topRight,
      .digit__bottomRight {
        fill: $digit;
        
        .success & {
          fill: $success;
        }

        .error & {
          fill: $error;
        }
      }
    }
  
    &.two {
      .digit__top,
      .digit__topRight,
      .digit__middle,
      .digit__bottomLeft,
      .digit__bottom {
        fill: $digit;
        
        .success & {
          fill: $success;
        }

        .error & {
          fill: $error;
        }
      }
    }
  
    &.three {
      .digit__top,
      .digit__topRight,
      .digit__middle,
      .digit__bottomRight,
      .digit__bottom {
        fill: $digit;
        
        .success & {
          fill: $success;
        }

        .error & {
          fill: $error;
        }
      }
    }
  
    &.four {
      .digit__topLeft,
      .digit__topRight,
      .digit__middle,
      .digit__bottomRight {
        fill: $digit;
        
        .success & {
          fill: $success;
        }

        .error & {
          fill: $error;
        }
      }
    }
  
    &.five {
      .digit__top,
      .digit__topLeft,
      .digit__middle,
      .digit__bottomRight,
      .digit__bottom {
        fill: $digit;
        
        .success & {
          fill: $success;
        }

        .error & {
          fill: $error;
        }
      }
    }
  
    &.six {
      .digit__top,
      .digit__topLeft,
      .digit__middle,
      .digit__bottomLeft,
      .digit__bottomRight,
      .digit__bottom {
        fill: $digit;
        
        .success & {
          fill: $success;
        }

        .error & {
          fill: $error;
        }
      }
    }
  
    &.seven {
      .digit__top,
      .digit__topRight,
      .digit__bottomRight {
        fill: $digit;
        
        .success & {
          fill: $success;
        }

        .error & {
          fill: $error;
        }
      }
    }
  
    &.eight {
      .digit__top,
      .digit__topLeft,
      .digit__topRight,
      .digit__middle,
      .digit__bottomLeft,
      .digit__bottomRight,
      .digit__bottom {
        fill: $digit;
        
        .success & {
          fill: $success;
        }

        .error & {
          fill: $error;
        }
      }
    }
  
    &.nine {
      .digit__top,
      .digit__topLeft,
      .digit__topRight,
      .digit__middle,
      .digit__bottomRight,
      .digit__bottom {
        fill: $digit;
        
        .success & {
          fill: $success;
        }

        .error & {
          fill: $error;
        }
      }
    }
  }
}

@include media-breakpoint(sm) {
  .digits {
    &__digit {
      height: 135px;
    }
  }
}