/* COLORS */

$gray-1: #EEEEEE;
$gray-2: #CFCFCF;
$white: #FFFFFF;
$orange: #EF6C00;
$dark-orange: #DB6300;


/* GRADIENTS */
$gradient-bg: linear-gradient(180deg, $gray-1 0%, $white 100%);
$gradient-orange: linear-gradient(174.92deg, $orange 18.47%, $dark-orange 36.57%);